.image__upload{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    -moz-box-shadow:    inset 0 0 10px gray;
    -webkit-box-shadow: inset 0 0 10px gray;
    box-shadow: inset 0 0 10px gray;;
    width:40%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    line-height: 4;
    background-color: white;
    border-radius: 0.4rem;
}
.image__upload__file{
    padding: 20px 0 20px 0;
    font-size: 1rem;
}
.image__upload__progress{
    width: 100%;
    height:20px;
    color: green
}
.image__upload__caption{
    margin:10px;
    width:60%;
    padding: 10px;
    font-size: 1rem;
}
